*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: oldlace;
    margin: 12px;
    border-bottom: 5px solid black;
    
    margin-left: auto;
    margin-right: auto;
}
.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.logo h1{
    margin-left: -10em;
    font-size: 25px;
}
.logo img{
    width: 9%;
    border-radius: 70px;
}

/* courser information */

.CDF{
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 40px; */
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}  
.CDF h1{
    margin-top: -1px;
    background-color: black;
    color: white;
    width: 100%;
    font-size: 20px;
}
.Course_info{
    width: 100%;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin:10px;
    /* margin-left: 19px; */
}
span{
    font-weight: bold;
}

.Course_info p{
    font-size: 18px;
}

.catalog_des p{
    margin: 7px;
    text-align: justify;
    font-size: 18px;
}

/* major topics */
.mjr-tpc{
    margin: 4px;
}
.mjr-tpc table thead{
    background: rgb(197, 184, 184);
}
.mjr-tpc table,th,td{
    border: 2px solid black;
    border-collapse:collapse ;
    padding: 10px;
    text-align: center;
}

.mjr-tpc tfoot, .contact_h{
    text-align: left;
    font-size: 18px;
    font-weight: bold;

}

.mjr-tpc .SO-black{
    font-weight: bold;
    font-size: 19px;
}

.Txt-bk{
    font-size: 18px;
    margin: 14px;
    line-height: 25px;
}
.Txt-bk h3{
    margin-left:-6em;
    font-size: 20px;
}
.Txt-bk li{
    margin-left: -1em;
}